@model Airlinemaker.Data.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartLoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartLoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArriveLoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArriveLoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArriveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArriveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArriveTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArriveTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerLimit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerLimit)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
